{
    "env": {
        "es6": true,
        "jest": true
    },
    "extends": "airbnb-base",
    "rules": {
        "indent": [2, 4],
        "no-unneeded-ternary":"off",
        "no-underscore-dangle":"off"
    }
}